<!DOCTYPE html>

<title>Создание нового заказа</title>

{% block body %}
    <h1>Создание нового заказа</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.dish) }}
        {{ form_row(form.client) }}
        {{ form_row(form.uploadedFiles) }}

        <button class="btn">{{ button_label|default('Создать') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_order_index') }}">К списку заказов</a>
{% endblock %}