<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Заказ {{ order.id }}</h1>
        
        <a href="{{ path('app_order_index') }}" >Назад</a>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        

        <div>
            <div>
                <h5>Информация о клиенте</h5>
                <p><strong>Имя:</strong> {{ order.client.name }}</p>
                <p><strong>Телефон:</strong> {{ order.client.phoneNumber }}</p>
            </div>
        </div>
        
       
        <div>
            <div>
                <h5>Состав заказа</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Блюдо</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% set total = 0 %}
                        {% for dish in order.dish %}
                            <tr>
                                <td>{{ dish.name }}</td>
                                <td>{{ dish.price }} руб.</td>
                            </tr> 
                            {% set total = total + dish.price %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Общая стоимость:</th>
                            <th>{{ total }} руб.</th>
                        </tr>
                    </tfoot>
                </table>


    
        <div>

        <p><strong>Файлы:</strong></p>
        {% if order.files|length > 0 %}
            <ul>
                {% for file in order.files %}
                    <li>
                        <a href="{{ path('app_order_download_file', {'id': order.id, 'fileId': file.id}) }}">
                            Файл {{ loop.index }}
                        </a>
                        ({{ file.filePath|split('.')|last|upper }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Файлов нет</p>
        {% endif %}

      </div>
            </div>
        </div>
    </div>
</body>
</html>